html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  user-select: none;

  --wails-draggable: drag;
}

body, #app {
  user-select: none;         /* standard */
  -webkit-user-select: none; /* Safari/WebKit */
  -moz-user-select: none;    /* old Firefox */
  -ms-user-select: none;     /* IE/Edge legacy */
}

